.header {
  background-color: rgba(11, 10, 10, 0.845);
  width: 100%;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
  }

  .logo {
    width: 48px;

    img {
      width: 100%;
    }
  }

  .icons {
    display: flex;

    .active-link {
      color: #05d5fa;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 6rem;
      cursor: pointer;
      width: 50px;
    }

    .inactive-icon {
      width: 5%;
      height: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 6rem;
      cursor: pointer;
    }

    .profile {
      width: 44px;
      height: 44px;
      margin-left: 3rem;
      cursor: pointer;
    }

    input {
      width: 400px;
      height: 36px;
      border-radius: 8px;
      border: none;
      outline: none;
      padding: 0 1rem;
      background-color: rgb(105, 105, 105);
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }
  }
}
